<div class="card" style="width: 18rem;">
<ul class="list-group list-group-flush">
<div id="<%= dom_id user %>">

    <strong class="list-group-item">Name:
    <%= user.name %>
    </strong>



    <strong class="list-group-item">Email:
    <%= user.email %>
    </strong>



    <strong class="list-group-item">Address:
    <%= user.address %>
    </strong>


</div>
</ul>
</div>


  
